@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;padding: 0; box-sizing: border-box;
    font-family: "Montserrat";
}


/* HERO IMAGE */

#hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/overlay.png), url(images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7B8060;
}

#hero-inner h1{
    max-width: 800px;
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
}

#hero-inner h3{
    margin-top:2vh;
    color: white;
    text-shadow: 0px 0px 10px #000;
}

#hero-inner p{
    margin-top:10vh;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
}

/* Article Copy */

main{
    max-width: 800px;
    margin: 20px auto;
}

#story_hed{
    /* border: solid red 1px; */
    position: relative;
    margin-left: auto; 
    margin-right: 60%;
}

.story_para {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* margin: 10px auto; */
    max-width: 900px;
}

#story_para_final {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: left;
    /* margin: 10px auto; */
    max-width: 800px;
}

h2{
    text-align: left;
    color: #7B8060;
    font-size: 30px;
    max-width: 700px;
    /* margin: 10px auto; */
}


#drop-cap:first-child:first-letter {
    color: #7B8060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 62px;
    float: left;
    line-height: 48px;
    margin-top: 3px;
    padding-right: 8px;
}

.page_break{
    display:flex;
}

#shirt{
    position: relative;
    fill: #7B8060;
    width: 60%;
    margin: 0 auto;
}

#timeline{
    padding-top:10vh;
    padding-bottom:10vh;
}

#timeline_headline {
    font-size: 30px;
    color:#14163d;
}

#timeline_format{
    max-width: 800px;
}

#timeline_map {
    max-width: 600px;
    width:100%;
    border: #14163d 3px solid;
}


#timeline_key{
    position: absolute;
    padding-left: 5vh;
    width: 20%;
}

.buttons{
    margin: 2vh auto;
    max-width: 800px;
}

.button{
    margin-top: 2vh;
    margin-right:2vh;
    background-color: #E04641;
    border: 1px solid #E04641;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
}

input {
    appearance: none;
    margin: 0;
}

.button:hover {
    background-color: #fff;
    border: 1px solid #E04641;
    color: #333;
}

/** Slideshow **/

#slideshow_text h1{
    margin-bottom: 5vh;
    font-size: 30px;
    text-align: center;
}

#slideshow_text p{
    margin-top: -4vh;
    margin-bottom: 5vh;
    font-size: 15px;
    text-align: center;
}

/* .indigovintage {
    border: 2px solid red;
} */

.ivpic {
    display: inline-block;
    width: 35vh;
    height: 55vh;
    background: url("images/indigovintage.jpg") no-repeat;
    background-size: contain;
}

.ivpic:hover{
    background: url("images/heldover.jpg") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.iv_infocard{
    background: url("images/heldover.jpg") no-repeat;
    display: inline-block;
    width:63vh;
    height: 55vh;
    display:none;
}
/* 
.heldover {
    border: 2px solid red;
} */

.hopic {
    display: inline-block;
    width: 35vh;
    height: 55vh;
    background: url("images/heldover.jpg") no-repeat;
    background-size: contain;
}

.hopic:hover{
    background: url("images/indigovintage.jpg") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.ho_infocard{
    background: url("images/heldover.jpg") no-repeat;
    display: inline-block;
    width:63vh;
    height: 55vh;
    display:none;
}

/* .wasteland {
    border: 2px solid red;
} */

.wlpic {
    display: inline-block;
    width: 35vh;
    height: 55vh;
    background: url("images/wasteland.jpg") no-repeat;
    background-size: contain;
}

.wlpic:hover{
    background: url("images/indigovintage.jpg") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.wl_infocard{
    background: url("images/wasteland.jpg") no-repeat;
    padding-left: 5vh;
    display: inline-block;
    width:63vh;
    height: 55vh;
    display:none;
}

/* .rvca {
    border: 2px solid red;
} */

.rvpic {
    display: inline-block;
    width: 35vh;
    height: 55vh;
    background: url("images/rvca.jpeg") no-repeat;
    background-size: contain;
}

.rvpic:hover{
    background: url("images/indigovintage.jpg") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.rv_infocard{
    background: url("images/wasteland.jpg") no-repeat;
    display: inline-block;
    width:63vh;
    height: 55vh;
    display:none;
}