@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@600&display=swap");


*{
    margin: 0;padding: 0; box-sizing: border-box;
    font-family: "Cardo";
}


/* HERO IMAGE */

#hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/overlay.png), url(images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7B8060;
    z-index: 1;
}

#hero-inner h1{
    max-width: 600px;
    color: white;
    font-family: "Josefin Sans";
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
}

#hero-inner h3{
    font-family: "Josefin Sans";
    margin-top:2vh;
    color: white;
    text-shadow: 0px 0px 10px #000;
}

#hero-inner p{
    margin-top:10vh;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px #000;
}


/* Article Copy */

main{
    max-width: 800px;
    margin: 20px auto;
}

em{
    font-style: italic;
}

sup { 
    vertical-align: super;
    font-size: xx-small;
  }

#story_hed{
    /* border: solid red 1px; */
    position: relative;
    margin-left: auto; 
    margin-right: 60%;
}

.the_essentials{
    padding-bottom:10vh;
}

.secondhand_trends{
    padding-top: 10vh;
}

.story_para {
    color: black;
    font-family: "Cardo";
    font-size: 18px;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* margin: 10px auto; */
    max-width: 900px;
}

.pull_quote{
    color: #8E4331;
    font-family: "Josefin Sans";
    font-size: 25px;
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
    line-height: 5vh;
}

.attribution{
    font-size: 18px;
    font-family: "Cardo";
}

#story_para_final {
    color: black;
    font-family: "Cardo";
    font-size: 18px;
    text-align: left;
    /* margin: 10px auto; */
    max-width: 800px;
}

h2{
    font-family: "Josefin Sans";
    text-align: left;
    color: #8E4331;
    font-size: 30px;
    max-width: 700px;
    /* margin: 10px auto; */
}

a {
    color: #8E4331;
}

#drop-cap:first-child:first-letter {
    color: #8E4331;
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 62px;
    float: left;
    line-height: 48px;
    margin-top: 15px;
    padding-right: 3px;
}

.page_break{
    display:flex;
    margin: 6vh;
}

#shirt_1{
    position: relative;
    width: 20%;
    margin: 0 auto;
    padding-bottom: 2vh;
}

#shirt_2{
    position: relative;
    width: 20%;
    margin: 0 auto;
    margin-top: -3vh;
    margin-bottom: 2vh;
}

#shirt_3{
    position: relative;
    width: 20%;
    margin: 0 auto;
    margin-top: -1vh;
    margin-bottom: 2vh;
}

#endmark{
    position: relative;
    width: 1.5%;
    margin-left: 2px;
}

.footer {
	width:100%;
	height:50px;
	position: relative;
	bottom: 0;
	max-width:100%;
	background: #8E4331;
}

/* Timeline Interactive */   
#timeline{
    padding-top:20vh;
    padding-bottom:20vh;
}

#timeline_headline {
    font-size: 30px;
    font-family: "Josefin Sans";
    color:#14163d;
}

#timeline_format{
    max-width: 800px;
}

#timeline_map {
    max-width: 600px;
    width:100%;
    border: #14163d 3px solid;
}


#timeline_key{
    position: absolute;
    padding-left: 5vh;
    width: 20%;
}

.buttons{
    /* margin: 1vh auto; */
    max-width: 750px;
}

.button{
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right:2vh;
    background-color: #10244A;
    border: 1px solid #10244A;
    border-radius: 5px;
    font-family: "Josefin Sans";
    font-size: small;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 18px;
}

input {
    appearance: none;
    margin: 0;
}

.button:hover {
    background-color: #fff;
    border: 1px solid #8E4331;
    color: #10244A;
}

/** Slideshow **/

#slideshow{
    padding-top:10vh;
    padding-bottom:10vh;
}

#slideshow_text h1{
    color:#14163d;
    margin-bottom: 5vh;
    font-family: "Josefin Sans";
    font-size: 30px;
    text-align: center;
}

#slideshow_text p{
    margin-top: -4vh;
    margin-bottom: 5vh;
    font-size: 15px;
    text-align: center;
}

#closet {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.indigovintage {
    margin-bottom: 40px;
} 

.ivpic {
    display: inline-block;
    width: 700px;
    height: 400px;
    background: url("images/closet/jjtoutfit.png") no-repeat;
    background-size: contain;
}

.ivpic:hover{
    background: url("images/closet/jjtoutfithover.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.iv_portrait{
    display: inline-block;
    margin-left: 10px;
    width: 320px;
    height: 400px;
    background: url("images/closet/jjtportrait.png") no-repeat;
    background-size: contain;
}

.iv_portrait:hover{
    background: url("images/closet/jjtportraitdescription.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.iv_brand{
    display: inline-block;
    margin-left: 10px; 
    width: 350px;
    height: 400px;
    background: url("images/closet/jjtbrand.png") no-repeat;
    background-size: contain;
}


.wasteland {
    margin-bottom: 40px;
} 

.wlpic {
    display: inline-block;
    width: 700px;
    height: 400px;
    background: url("images/closet/delaneyoutfit.png") no-repeat;
    background-size: contain;
}

.wlpic:hover{
    background: url("images/closet/delaneyoutfithover.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.wl_portrait{
    display: inline-block;
    margin-left: 10px;
    width: 320px;
    height: 400px;
    background: url("images/closet/delaneyportrait.png") no-repeat;
    background-size: contain;
}

.wl_portrait:hover{
    background: url("images/closet/delaneyportraitdescription.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.wl_accessory{
    display: inline-block;
    margin-left: 10px;
    width: 350px;
    height: 400px;
    background: url("images/closet/delaneyaccessory.png") no-repeat;
    background-size: contain;
}

.rvca {
    margin-bottom: 40px
} 

.rvpic {
    display: inline-block;
    width: 700px;
    height: 400px;
    background: url("images/closet/emmyoutfit.png") no-repeat;
    background-size: contain;
}

.rvpic:hover{
    background: url("images/closet/emmyoutfithover.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.rv_portrait{
    display: inline-block;
    margin-left: 10px;
    width: 410px;
    height: 400px;
    background: url("images/closet/emmyportrait.png") no-repeat;
    background-size: contain;
}

.rv_portrait:hover{
    background: url("images/closet/emmyportraitdescription.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.rv_accessory{
    display: inline-block;
    margin-left: 10px;
    width: 260px;
    height: 400px;
    background: url("images/closet/emmyaccessory.png") no-repeat;
    background-size: contain;
}

.heldover {
    margin-bottom: 80px
}

.hopic {
    display: inline-block;
    width: 700px;
    height: 400px;
    background: url("images/closet/kevinoutfit.png") no-repeat;
    background-size: contain;
}

.hopic:hover{
    background: url("images/closet/kevinoutfithover.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.ho_portrait{
    display: inline-block;
    margin-left: 10px;
    width: 370px;
    height: 400px;
    background: url("images/closet/kevinportrait.png") no-repeat;
    background-size: contain;
}

.ho_portrait:hover{
    background: url("images/closet/kevinportraitdescription.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.ho_history{
    display: inline-block;
    margin-left: 10px;
    width: 300px;
    height: 400px;
    background: url("images/closet/kevinhistory.png") no-repeat;
    background-size: contain;
}



/** Mobile Optimization **/
@media screen and (max-width: 1200px) {
    main{
        max-width: 800px;
        margin: 20px auto;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #hero-inner h3{
        max-width: 350px;
        margin: 10px auto;
        color: white;
        text-shadow: 0px 0px 10px #000;
    }
    
    main{
        max-width: 600px;
        margin: 20px auto;
    }

    .pull_quote{
        max-width: 450px;
    }

    #timeline_format{
        max-width: 600px;
    }
    
    #timeline_map {
        max-width: 450px;
        width:100%;
        border: #14163d 3px solid;
    }
    
    
    #timeline_key{
        position: absolute;
        padding-left: 5vh;
        width: 20%;
    }
    
    .buttons{
        /* margin: 1vh auto; */
        max-width: 400px;
    }
    
    .button{

        margin-left: 7vh;
        margin-right:2vh;
    }

    

    #endmark{
        position: relative;
        width: 2%;
        margin-left: 2px;
    }

}

@media (min-width: 700px) and (max-width: 999px) {
    
    #hero-inner h1{
        max-width: 200px;
        margin: 10px auto;
        color: white;
        font-size: 60px;
        text-align: center;
        text-shadow: 0px 0px 10px #000;
    }

    #hero-inner h3{
        max-width: 200px;
        margin: 10px auto;
        color: white;
        line-height: 3vh;
        text-shadow: 0px 0px 10px #000;
    }
    
    #hero-inner p{
        max-width: 150px;
        padding-top:10vh;
        color: white;
        text-align: center;
        margin: 0px auto;
        text-shadow: 0px 0px 10px #000;
    }
   
    main{
        max-width: 400px;
        margin: 10px auto;
    }

    .pull_quote{
        max-width: 350px;
        line-height: 3.5vh;
        font-size: 22px;
    }

    #shirt_1, #shirt_2, #shirt_3 {
        width: 40%;
    }
    
    #timeline_format{
        max-width: 400px;
    }
    
    #timeline_map {
        max-width: 350px;
        width:100%;
        border: #14163d 3px solid;
    }
    
    #timeline_key{
        position: relative;
        max-width: 450px;
        margin-top:10px;
        margin-left: 40px;
        width: 60%;
    }
    
    .buttons{
        /* margin: 1vh auto; */
        max-width: 300px;
        margin-left: 40px;
    }
    
    .button{
        margin-top: 2vh;
        margin-left: 1.1vh;
        margin-right:2vh;
        background-color: #10244A;
        border: 1px solid #10244A;
        border-radius: 5px;
        font-size: x-small;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 10px 18px;
    }

    #button_4{
        margin-left: 0.5vh;
    }

    #slideshow{
        padding-top:10vh;
        padding-bottom:10vh;
    }
    
    #slideshow_text h1{
        color:#14163d;
        margin-bottom: 5vh;
        font-family: "Josefin Sans";
        font-size: 30px;
        text-align: center;
    }
    
    #slideshow_text p{
        margin-top: -4vh;
        margin-bottom: 5vh;
        font-size: 15px;
        text-align: center;
    }
    
    #closet {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .indigovintage {
        margin-bottom: 40px;
    } 
    
    .ivpic {
        display: inline-block;
        width: 560px;
        height: 320px;
    }
    
    
    .iv_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 320px;
        height: 400px;
    }
    

    .iv_brand{
        display: inline-block;
        margin-left: 10px; 
        width: 256px;
        height: 320px;
    }
    
    
    .wasteland {
        margin-bottom: 40px;
    } 
    
    .wlpic {
        display: inline-block;
        width: 560px;
        height: 320px;
    }
    
    
    .wl_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 256px;
        height: 320px;
    }
    
    
    .wl_accessory{
        display: inline-block;
        margin-left: 10px;
        width: 280px;
        height: 320px;
    }
    
    .rvca {
        margin-bottom: 40px
    } 
    
    .rvpic {
        display: inline-block;
        width: 560px;
        height: 320px;
    }
    
    
    .rv_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 328px;
        height: 320px;
    }

    
    .rv_accessory{
        display: inline-block;
        margin-left: 10px;
        width: 208px;
        height: 320px;
    }
    
    .heldover {
        margin-bottom: 80px
    }
    
    .hopic {
        display: inline-block;
        width: 560px;
        height: 320px;
    }
    
    
    .ho_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 296px;
        height: 320px;
        background-size: contain;
    }
    
    .ho_history{
        display: inline-block;
        margin-left: 10px;
        width: 296px;
        height: 320px;
    }

    #endmark{
        position: relative;
        width: 3%;
        margin-left: 2px;
    }
  
}

@media (min-width: 320px) and (max-width: 700px) {
    
    #hero-inner h1{
        max-width: 250px;
        margin: 10px auto;
        color: white;
        font-size: 30px;
        text-align: center;
        text-shadow: 0px 0px 10px #000;
    }

    #hero-inner h3{
        max-width: 225px;
        margin: 10px auto;
        color: white;
        line-height: 3vh;
        font-size: 13px;
        text-shadow: 0px 0px 10px #000;
    }
    
    #hero-inner p{
        max-width: 200px;
        padding-top:10vh;
        color: white;
        text-align: center;
        margin: 0px auto;
        font-size: 10px;
        text-shadow: 0px 0px 10px #000;
    }
   
    main{
        max-width: 300px;
        margin: 5px auto;
    }

    .story_para {
        font-size: 12px;
    }

    #drop-cap:first-child:first-letter {
        font-size: 52px;
        line-height: 48px;
        margin-top: 10px;
        padding-right: 5px;
    }

    .pull_quote{
        max-width: 280px;
        line-height: 4vh;
        font-size: 18px;
    }

    h2{
        font-family: "Josefin Sans";
        text-align: left;
        color: #8E4331;
        font-size: 20px;
        max-width: 700px;
        /* margin: 10px auto; */
    }

    #timeline_headline {
        font-size: 20px;
        font-family: "Josefin Sans";
        color:#14163d;
    }

    .attribution{
    font-size: 12px;
    font-family: "Cardo";
}

    #shirt_1, #shirt_2, #shirt_3 {
        width: 50%;
    }
    
    #timeline_format{
        max-width: 300px;
    }
    
    #timeline_map {
        max-width: 350px;
        width:100%;
        border: #14163d 3px solid;
    }
    
    #timeline_key{
        position: relative;
        max-width: 300px;
        margin-top:10px;
        margin-left: 20px;
        width: 70%;
    }
    
    .buttons{
        /* margin: 1vh auto; */
        max-width: 700px;
        margin-left: 20px;
    }
    
    .button{
        margin-top: 2vh;
        margin-left: 1.5vh;
        margin-right:2vh;
        background-color: #10244A;
        border: 1px solid #10244A;
        border-radius: 5px;
        font-size: x-small;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 10px 18px;
    }

    #button_4{
        margin-left: 0.8vh;
    }

    #slideshow{
        padding-top:10vh;
        padding-bottom:10vh;
    }
    
    #slideshow_text h1{
        color:#14163d;
        margin-bottom: 5vh;
        font-family: "Josefin Sans";
        font-size: 20px;
        text-align: center;
    }
    
    #slideshow_text p{
        margin-top: -4vh;
        margin-bottom: 5vh;
        font-size: 10px;
        text-align: center;
    }
    
    #closet {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .indigovintage {
        margin-bottom: 40px;
    } 
    
    .ivpic {
        display: inline-block;
        width: 448px;
        height: 256px;
    }
    
    
    .iv_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 256px;
        height: 320px;
    }
    

    .iv_brand{
        display: inline-block;
        margin-left: 10px; 
        width: 204.8px;
        height: 256px;
    }
    
    
    .wasteland {
        margin-bottom: 40px;
    } 
    
    .wlpic {
        display: inline-block;
        width: 448px;
        height: 256px;
    }
    
    
    .wl_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 204.8px;
        height: 256px;
    }
    
    
    .wl_accessory{
        display: inline-block;
        margin-left: 10px;
        width: 224px;
        height: 256px;
    }
    
    .rvca {
        margin-bottom: 40px
    } 
    
    .rvpic {
        display: inline-block;
        width: 448px;
        height: 256px;
    }
    
    
    .rv_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 262.4px;
        height: 256px;
    }

    
    .rv_accessory{
        display: inline-block;
        margin-left: 10px;
        width: 166.4px;
        height: 256px;
    }
    
    .heldover {
        margin-bottom: 80px
    }
    
    .hopic {
        display: inline-block;
        width: 448px;
        height: 256px;
    }
    
    
    .ho_portrait{
        display: inline-block;
        margin-left: 10px;
        width: 236.8px;
        height: 256px;
        background-size: contain;
    }
    
    .ho_history{
        display: inline-block;
        margin-left: 10px;
        width: 236.8px;
        height: 256px;
    }


    #endmark{
        position: relative;
        width: 3%;
        margin-left: 2px;
    }
  
}